$CalculatorBg: #fff;

.Calculator {
  background-color: $CalculatorBg;
  border-radius: 24px 24px 0px 0px;
  .Calculator-Container {
    min-width: 360px;
    max-width: 1366px;
    margin: 0 auto;
    .Calculator-Content {
      padding: 22px;
    }
  }
}
