$CalculatorBg: #fff;

.Calculator {
  background-color: $CalculatorBg;
  border-radius: 24px 24px 0px 0px;
  .Calculator-Container {
    min-width: 360px;
    max-width: 1366px;
    margin: 0 auto;
    .Calculator-Content {
      padding: 22px;
    }
  }
}

@media screen and (min-width: 768px) {
  .Calculator {
    margin: 35px auto 0;
    max-width: 766px;
    border-radius: 24px;
  }
  .Calculator-Content {
    height: 404px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 30px;
  }
}
