$TitleColor: #3e6666;

.Header-Container {
  min-width: 360px;
  max-width: 1366px;
  margin: 0 auto;

  .Header-Content {
    display: flex;
    justify-content: center;

    h1 {
      margin-block-start: 45px;
      margin-block-end: 38px;
      width: 90px;
      display: flex;
      flex-direction: column;
      letter-spacing: 0.34em;
      font-size: 24px;
      line-height: 31px;
      text-transform: uppercase;
      text-align: center;
      color: $TitleColor;
    }
  }
}
